*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

@media (orientation: portrait) and (max-width: 450px) {
  .main-wrapper {
    padding: 1.4rem;
  }
}

h1,
h2 {
  margin: 0 0 1.5rem 0;
}

@media (orientation: portrait) and (max-width: 450px) {
  h1,
  h2 {
    margin: 0 0 1.4rem 0;
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 1.6rem;
  }
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1rem;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

form {
  margin-right: 1rem;
  font-size: 0.85rem;
}

@media (max-width: 490px) {
  form {
    font-size: 0.75rem;
  }
}

.mName-btn {
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  padding: 0.44rem 1rem;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 0.85rem;
  font-family: inherit;
  color: black;
}

.mName-btn:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

@media (max-width: 490px) {
  .mName-btn {
    font-size: 0.75rem;
  }
}

select {
  display: block;
  cursor: pointer;
  background-color: white;
  font-family: inherit;
  width: 12rem;
  height: 2rem;
  margin-top: 0.6rem;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 0.85rem;
  color: black;
}

@media (max-width: 590px) {
  select {
    width: 9rem;
  }
}

@media (max-width: 490px) {
  select {
    width: 6rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 380px) {
  select {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.output {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 100%;
}

@media (orientation: portrait) and (max-width: 460px) {
  .output {
    height: calc(100vh - 310px);
    grid-template-rows: 1fr repeat(2, auto);
  }
}

.mountImg {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

@media (max-width: 830px) {
  .mountImg {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50%;
    object-position: 50%;
  }
}

.credit {
  margin-top: 0.5rem;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  font-size: 0.8rem;
  z-index: 999;
}

@media (max-width: 600px) {
  .credit {
    justify-self: start;
  }
}

.credit a {
  outline: none;
  text-decoration: none;
}

.credit a:link {
  color: #2d64fc;
}

.credit a:visited {
  color: #c89209;
}

.credit a:hover {
  border-bottom: 1px solid;
}

.loc {
  grid-column: 1 / -2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0.5rem;
  font-size: 0.96rem;
}

@media (max-width: 950px) {
  .loc {
    font-size: 0.88rem;
  }
}

@media (max-width: 600px) {
  .loc {
    grid-row: 3;
  }
}

.loc span:first-child {
  margin-bottom: 0.4rem;
}

.repContainer {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  justify-self: end;
  align-self: end;
  padding: 1.1rem;
}

@media (orientation: portrait) and (max-width: 460px) {
  .repContainer {
    width: 100%;
    padding: 0.75rem;
  }
}

.report {
  grid-row: 2;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);
}

.am {
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.pm {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.night {
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
}

@media (orientation: portrait) and (max-width: 400px) {
  .report {
    font-size: 0.7rem;
  }
}

.report > h5 {
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
  color: rgb(45, 45, 45);
  font-weight: 500;
}

.date {
  grid-column: 1 / -1;
  grid-row: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.1rem 0.3rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.we-icon {
  width: 5.25rem;
  margin: 0 auto;
}

.windDirect {
  width: 1.4rem;
  padding: 0 5px 0 5px;
  display: inline-block;
}

@media (orientation: portrait) and (max-width: 400px) {
  .windDirect {
    width: 1.2rem;
  }
}

.high,
.low {
  font-size: 1.15rem;
  font-weight: 500;
}

.low {
  color: rgb(100, 100, 100);
  padding-left: 0.25rem;
}

.tempContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
